<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>sinatra</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="shortcut icon" href="/image/favicon.ico">

<body>
  <div class="main-content">
  <h1>メモアプリ</h1>
  <div class="container">
    <div class="quadrant top-left">
    <h2 class="memo">メモ1</h2>
    <form action="" method="get" class="memo-enter">
      <ol class="form-title">
        <% @memos.memos.each do |memo| %>
          <a href="/memos/<%= memo['id'].to_s %>">・<%= memo['title'] %></a>
        <% end %>
      </ol>
    </form>
  </div>

  <div class="quadrant top-right">
    <h2 class="memo">メモ2</h2>
    <form action="/memos/" method="post" class="add-memo-form">
      <div class="title-iput">
        <label for="title">タイトル</label>
        <input type="text" name="title" id="title" required>
      </div>
      <div class="content-input">
        <label for="content">内容</label>
        <input type="text" name="content" id="content" required>
      </div>
        <div class="memo-submit">
        <input type="submit" value="保存">
  </div>
    </form>
  </div>
  <div class="quadrant bottom-left">
    <h2 claVss="memo">メモ3</h2>
    <h2 class="memo_title<%= @show_memo_id %>"><%= @memos.showtitle(@show_memo_id) %><h2>
    <div class="memo-content"><%= @memos.showcontent(@show_memo_id) %></div>
    <form action="/memos/<%= @show_memo_id %>" method="post">
      <button type="hidden" id="_method" name="_method" value="delete">削除</button>
    </form>
  </div>
  <div class="quadrant bottom-right">
    <h2 class="memo">メモ4</h2>
    <p>/*Todo*/</p>
  </div>
  </div>
</body>
</html>
